.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
  position: relative;
  height: 63rem;
  padding: 9rem 12rem;

}

.main::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  position: fixed;
  opacity: 0.5;
  background-size: cover;
  /* background-image: url('/images/hero3.jpg'); */

  background: linear-gradient(to right, rgb(0,0,0,0.1), rgb(0,0,0,0.8)), url('/images/hero3.jpg');
  background-size: cover;
  background-position: 40% 20%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
